@import url(../../../assets/styles/Montserrat.scss);

.Header {
    position: fixed;
    top: 0;
    height: 3.5rem;
    display: flex;
    width: 100%;
    z-index: 1;
    font-family: Montserrat;
    transition: background-color 0.5s;

    &[data-sticky="true"] {
        background-color: rgba(0, 0, 0, 0.75);
    }

    > div {
        height: 3.5rem;
        display: flex;

        &.leftSide {
            margin-right: auto;
        }
    
        &.rightSide {
            margin-left: auto;
        }

        @media screen and (max-width: 750px) {
            &.rightSide {
                display: none;
            }
        }

        > .headerButton {
            margin: auto;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }
}