.ContactContent {
    width: 100%;
    background-color: black;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    overflow: hidden;
    text-align: center;

    .CotactsFlex {
        display: flex;
        gap: 0.5rem;
        margin: auto;
        width: fit-content;
        white-space: nowrap;
        flex-wrap: wrap;
        justify-content: center;

        a {
            color: skyblue;
            text-decoration: none;
            text-align: left;
        }
    }
}