@keyframes ripple {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--default-color);
    color: var(--sub-color);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--default-color);
    color: var(--sub-color);
}

.main-frame {
    width: 100%;
    height: 100%;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    background-color: var(--default-semi-opacity);
}

.modal-body {
    word-break: break-all;
}

.modal.active {
    display: grid;
}

.modal-center {
    width: 400pt;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-rows: 1.5em max-content 1.5em;
    gap: 0.25em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--default-color);
    border: 1px dotted;
    padding: 0.5em;
    box-shadow: 5px 5px 20px black;
}

.modal-buttons {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: var(--default-color);
    color: var(--sub-color);
}

.modal-option {
    cursor: pointer;
}

.modal-option:hover {
    background-color: var(--sub-color);
    color: var(--default-color);
}

.container[ui='desktop'] .mobile-element {
	display: none;
}

.container[ui='mobile'] .desktop-element {
	display: none;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 3.5em max-content auto;
    transition: var(--base-transition);
}

.header-item {
    height: 3.5em;
}

span.sign-separator {
    width: 1.5em;
    max-width: 1.5em;
    text-align: center;
}

.header {
    display: grid;
    grid-template-areas: 'theme . logo . buttons';
    line-height: 3.5em;
    height: 3.5em;
    grid-template-columns: max-content max-content max-content max-content max-content;
    gap: 0.25em;
}

.header > * {
    height: 3.5em;
}

.header .lg-text {
    grid-area: logo;
}

.header .theme-switch {
    height: 2.5em;
    display: grid;
    width: 2em;
    margin: 0.5em 0 0.5em 0.5em;
    filter: var(--imgs-def-filter);
    overflow: hidden;
    grid-area: theme;
}

.header .theme-switch img {
    width: 4em;
    height: 2em;
    top: 0.25em;
    left: 0;
    position: relative;
    pointer-events: none;
    transition: var(--base-transition);
}

.header .theme-switch.switched img {
    left: -2em;
}

.header .header-buttons {
    grid-area: buttons;
}

.header .header-button {
    border: none;
    position: relative;
    overflow: hidden;
    background-color: var(--default-color);
    color: var(--sub-color);
}

.header .header-button:hover {
    text-decoration: underline;
}

.head {
    height: 5.5em;
    width: 100%;
    display: grid;
    padding: 0 0.5em;
    grid-template-rows: 3em 2.5em;
    transition: var(--base-transition);
    pointer-events: none;
}

.head .div-name {
    line-height: 1em;
    font-size: 3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.head .renderpath {
    margin-top: auto;
    display: grid;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    padding: 0.25em;
}

.header .left-menu {
	width: 2em;
    text-align: center;
    font-size: 1.5em;
    line-height: 2.25em;
    grid-area: menu;
}

.container[ui='mobile'] .header {
    grid-template-areas: 'menu logo theme';
    grid-template-columns: max-content max-content auto;
}

.container[ui='mobile'] .header .theme-switch {
    margin-left: auto;
    margin-right: 0.5em;
}

.container[ui='mobile'] div.header-buttons {
    position: absolute;
    display: grid;
    left: -100%;
    width: 60%;
    height: calc(100% - 3.5em);
    grid-auto-flow: row;
    grid-auto-rows: 3.5em;
    top: 3.5em;
    background: var(--default-color);
    transition: var(--base-transition);
}

a.header-item {
    color: var(--sub-color);
}

span.ripple {
	width: 0;
	height: 0;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.4);
	transform: scale(0);
	position: absolute;
	animation: ripple 0.5s linear;
	pointer-events: none;
	opacity: 1;
}

code {
    word-break: break-all;
}

@media screen and (max-width: 680px){
    .modal-buttons {
        grid-template-areas: '.' '.';
    }

    .modal-center {
        width: 80%;
        grid-template-rows: 1.5em max-content 3em;
    }
}

@supports ((-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))) {
    .modal {
        background-color: var(--default-semi-opacity-1);
        -webkit-backdrop-filter: blur(1em);
        backdrop-filter: blur(1em);
    }
}

@supports not ((display: grid) or (display: -ms-grid)) {
    .header {
        display: flex;
    }    
}
