@font-face {
    src: url(../$fonts/FiraCode-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-family: 'FiraCode Bold';
}

@font-face {
    src: url(../$fonts/FiraCode-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-family: 'FiraCode';
}

@font-face {
    src: url(../$fonts/FiraCode-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-family: 'FiraCode Medium';
}

@font-face {
    src: url(../$fonts/FiraCode-SemiBold.ttf);
    font-weight: 900;
    font-style: normal;
    font-family: 'FiraCode SemiBold';
}

@font-face {
    src: url(../$fonts/FiraCode-Light.ttf);
    font-weight: 100;
    font-style: normal;
    font-family: 'FiraCode Light';
}

@keyframes load {
	from {
		transform: rotate(0deg) scale(1);
	}

	50% {
		transform: rotate(360deg) scale(0.95);
	}

	to {
		transform: rotate(360deg) scale(1);
	}
}

:root {
	--darked: rgb(55, 55, 55);
	--base-transition: 150ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--darked);
}

a, .contentlink {
    color: var(--darked);
	text-decoration: none;
	cursor: pointer;
}

a:hover, .contentlink:hover {
    text-decoration: underline;
    color: var(--darked);
}

*[rendertarget="true"] {
	width: 100%;
    padding: 0.5em;
	overflow: hidden;
	transition: var(--base-transition);
}

*[rendertarget="true"]::before {
    content: '';
    position: relative;
	background-color: rgba(0, 0, 0, 0);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100pt;
	animation: load 0.85s infinite;
    transition: var(--base-transition);
    overflow: hidden;
	display: block;
	height: 0px;
	opacity: 0;
	z-index: -1000;
}

*[rendertarget="true"].transit::before {
    opacity: 1;
    height: 100%;
}

*[rendertarget="true"].transit > :not(::before) {
	opacity: 1;
	transition: var(--base-transition);
}

*[rendertarget="true"].transit > :not(::before) {
	opacity: 0;
}

.left-variator {
	white-space: nowrap;
	padding: 0.25em 0.5em;
	width: calc(100% - 1em);
}

.wrap {
	width: 50%;
}

.wrap img {
	width: 100%;
}

.sub-level {
	padding-left: 0.5em;
}

.sub-level > * {
	display: block;
	padding-right: 0.5em;
	border-left: 1px solid;
}

.container[ui='desktop'] .mobile-element {
	display: none;
}

.container[ui='mobile'] .desktop-element {
	display: none;
}

.container[ui='mobile'] .nav-bar::before {
	content: 'Навигация';
    font-size: 2em;
    display: block;
    width: 100%;
    border-top: 1px dotted;
    margin-bottom: 0.25em;
}

.container[ui='mobile'] .content {
	grid-template-areas: 
						'content'
						'nav';
	grid-template-columns: 100%;
	grid-template-rows: minmax(50%, max-content) max-content;
	text-align: justify;
}

.container[ui='mobile'] .nav-bar {
	width: calc(100% - 0.5em);
	text-align: center;
}

.container[ui='mobile'] .sub-level > * {
    padding-top: 0.5em;
	padding-right: 0;
}

.container[ui='mobile'] .wrap {
	width: 100%;
}

.container[ui='mobile'] .content-view {
	border: none;
	padding-left: 0;
}

pre {
	overflow-x: scroll;
	text-align: left;
	padding: 0.5em;
	background-color: whitesmoke;
}

code {
	font-family: 'FiraCode', 'Courier New', Courier, monospace;
}

code:not([class]) {
	color: rgb(250, 60, 117);
}

h1, h2 {
	margin: 0 0 0.5em 0
}

h3, h4, h5, h6 {
	margin: 0;
}

strong {
	pointer-events: none;
}

th {
	background-color: var(--darked);
	color: white;
	text-transform: capitalize;
}

td, th {
	padding: 0.5em;
	margin: 1px;
}