.container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
}

.logo {
    position: absolute;
    transition: left 0.5s ease-in-out;
    margin: auto;
}

.sponsor {
    object-fit: contain;
    object-position: center;
}